{% load staticfiles %}


<ul class="nav navbar-nav navbar-left" style="padding-right: 20px">
            <li {% if active_link == "FAQ" %}class="active"{% endif %}><a href="{% url "FAQ" %}"
                                                                          style="font-family: 'B Mitra';font-weight: bold">سوالات
                متداول</a></li>
            <li {% if active_link == "charity" %}class="active"{% endif %}><a href="/pay/charity"
                                                                          style="font-family: 'B Mitra';font-weight: bold">مشارکت
                در هزینه های هیئت</a></li>
                </ul>
<ul class="nav navbar-nav navbar-right" style="padding-right: 20px">
                    {% if not user.is_authenticated %}
                        <li {% if active_link == "signin" %}class="active"{% endif %}><a href="/accounts/signin" style="font-family: 'B Mitra';font-weight: bold">ورود</a></li>
                        <li {% if active_link == "noaccount" %}class="active"{% endif %}><a href="/accounts/signup" style="font-family: 'B Mitra';font-weight: bold">آیا حساب کاربری ندارید؟</a></li>
                    {% else %}
                        <ul class="nav navbar-nav">

{#                    <li class="dropdown">#}
{#                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"#}
{#                           aria-expanded="false">Manage <span class="caret"></span></a>#}
{#                        <ul class="dropdown-menu">#}
{##}
{#                            <li role="separator" class="divider"></li>#}
{#                            <li><a href="/program/manage">Manage</a></li>#}
{#                        </ul>#}
{#                    </li>#}
                </ul>

                        <li {% if active_link == "home" %}class="active"{% endif %}><a href="/program" style="font-family: 'B Mitra';font-weight: bold">برنامه های من</a></li>
                            {% if user.my_profile.hasManagement %}
                                <li {% if active_link == "management" %}class="active"{% endif %}><a href="/program/manage/" style="font-family: 'B Mitra';font-weight: bold">مسئولیت های من</a></li>
                            {% endif %}

                        <li class="dropdown {% if active_link == "profile" %}active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" style="font-family: 'B Mitra';font-weight: bold">{{ user.first_name }} {{ user.last_name }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li {% if active_link == "profile" %}class="active"{% endif %}><a href="/profile/" style="font-family: 'B Mitra';font-weight: bold">پروفایل</a></li>
                            <li {% if active_link == "changepass" %}class="active"{% endif %}><a href="/accounts/{{ user.username }}/password/" style="font-family: 'B Mitra';font-weight: bold">تغییر گذرواژه</a></li>
                            <li {% if active_link == "exit" %}class="active"{% endif %}><a href="/accounts/signout" style="font-family: 'B Mitra';font-weight: bold">خروج</a></li>
                        </ul>
                        </li>
                    {% endif %}

                    <li class="dropdown">

                    </li>
                </ul>
