{% extends 'base.html' %}
{% block navbar %}
    {% include '_navbar.html' with active_link='FAQ' %}
{% endblock %}
{% block content %}
    {% load staticfiles %}


    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <div class="row" dir="rtl">
            <legend>
                سوالات متداول
            </legend>
            <div>
                <div class="q-a">
                    <div class="question">
                        آیا سیستم ثبت نام عوض شده است؟
                    </div>
                    <div class="answer">
                    بله.
                        سیستم در سال ۹۵ بازنویسی شده است.
                    </div>
                </div>
                <div class="q-a">
                    <div class="question">
                    آیا نیاز است دوباره حساب کاربری بسازم؟
                    </div>
                    <div class="answer">
                   خیر.
                        با کدملی و همان گذرواژه سابق می‌توانید به سیستم جدید وارد شوید.
                        اگر گذرواژه خود را فراموش کرده‌اید، از طریق
                        <a href="/accounts/password/reset/">
                            این لینک
                        </a>
                        گذرواژه خود را بازیابی کنید
                    </div>
                </div>


                <div class="q-a">
                    <div class="question">
                    چه تفاوتی بین ساخت حساب کاربری و ثبت‌نام در برنامه وجود دارد؟
                    </div>
                    <div class="answer">
                    شما یک بار برای همیشه حساب کاربری می‌سازید و اطلاعات خود مثل کدملی و نام خود را بیان می‌کنید و پس از آن موقع ثبت‌نام برای هر برنامه فقط اینکه شرکت می‌کنید یا نه و اینکه متاهلی شرکت می‌کنید یا مجردی را بیان می‌کنید.
                    </div>
                </div>
                <div class="q-a">
                    <div class="question">
                    فرایند ساخت حساب کاربری چه زمانی تکمیل می‌شود؟
                    </div>
                    <div class="answer">
                       بعد از اینکه اطلاعات کدملی، نام، گذرواژه و شماره تلفن همراه خود را وارد کردید، یک ایمیل فعال‌سازی برای شما فرستاده می‌شود. پس از فعال‌سازی می‌توانید به حساب کاربری خود وارد شده و اقدام به تکمیل اطلاعات پروفایل بنمایید
{#                        <img src="{% static 'shows-name.jpg' %}" width="99%">#}
                    </div>
                </div>
                <div class="q-a">
                    <div class="question">
                        ثبت نام به صورت متاهلی چگونه است؟
                    </div>
                    <div class="answer">
                    ابتدا باید در پروفایل خود بیان کنید که متاهل هستید. برای این منظور باید ابتدا هر یک از زوجین به صورت مجردی حساب کاربری بسازد.
                        سپس یکی از دو نفر در صفحه
                        <a href="/profile/couple">
                            اطلاعات همسر
                        </a>
                        کد ملی همسر خود را وارد می‌کند و دگمه
                        <span style="background: #5cb85c;color: white">ذخیره</span>
                         را می‌زند.
                        پس از این کار سیستم شما را به عنوان زن و شوهر می‌شناسد و می‌توانید به صورت متاهلی در برنامه شرکت کنید
                    </div>
                </div>
                <div class="q-a">
                    <div class="question">
                        ثبت نام من در
                            <span style="font-style: italic">
                                یک برنامه خاص
                            </span>
                        (مثل اربعین)
                        چه زمانی تکمیل می شود؟
                    </div>
                    <div class="answer">
                        زمانی که نام برنامه در صفحه برنامه های من به یک لینک آبی رنگ تبدیل شود و با کلیک روی آن بتوانید اطلاعات ثبت نام خود را ببینید
                        <img src="{% static 'registration_complete.jpg' %}" width="99%">
                    </div>
                </div>
                <div class="q-a">
                    <div class="question">
                        چرا نمی‌توانم در برنامه جاری ثبت‌نام کنم؟
                    </div>
                    <div class="answer">
                        به یکی از دلایل زیر:
                        <ul>
                            <li>
                                زمان ثبت نام شروع نشده یا پایان یافته است.
                            </li>
                            <li>
                                تذکرات را نخوانده اید و تیک آن را نزده اید.
                            </li>
                            <li>
                            شما جزو شرکت‌کنندگان مجاز نیستید.مثلا در برنامه پابوس عشق فقط دانشجویان شریف می‌توانند ثبت‌نام کنند
                            </li>
                            <li>
                            <a href="/profile/passport">
                                اطلاعات گذرنامه
                            </a>
                                خود را نکمیل نکرده‌اید
                                (فقط مخصوص سفر کربلا)
                            </li>

                        </ul>
                    </div>
                </div>


                <div class="q-a">
                    <div class="question">
                        فرایند ثبت نام چگونه است؟
                    </div>
                    <div class="answer">
                        <img width="70%" src="{% static 'flowchart.jpg' %}">
                    </div>
                </div>


            </div>

        </div>
    </div> <!-- /container -->

    <style type="text/css">
        .q-a {
            padding-right: 9%;
            padding-bottom: 20px;
            border-bottom-style: dotted;
            border-bottom-width: .5px;
            font-size: large;
        }

        .question {
            color: #005fb3;
            padding-bottom: 11px;
        }

        .answer {
            padding-right: 5%;
        }
    </style>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.validate.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


{% endblock %}