{% extends 'base.html' %}
{% load tags %}
{% block navbar %}
    {% include '_navbar.html' with active_link='profile' %}
{% endblock %}
{% block second_navbar %}
    {% include '_profile_navbar.html' with active_link='couple' %}
{% endblock %}
{% block content %}

    <div >
        <h4 style="color: {{ color }};display: block;width: 100%">
            {{ message }}
        </h4>
            <form method="post">
                {% csrf_token %}
                <input id="couple" type="number" class="form-control" name="couple_melliCode"
                       {% if user.my_profile.couple %}value="{{ user.my_profile.couple.user.username }}" {% endif %}>
                <button type="submit" class="btn btn-lg btn-success">
                    ذخیره
                </button>
            </form>
    </div>

{% endblock %}