{% extends 'base.html' %}
{% load tags %}
{% block scripts %}


    <script>
        $(document).ready(function () {
                    $("#menu1").addClass('in active');
                    $("#li1").addClass('in active');
                    $("#alert").hide();
                    $("#menu2").click(function () {
                        $("#alert").fadeIn("slow");
                    });


                    $('[data-toggle^=pill]').click(function (e) {


                        if ($(this).parent().hasClass('active')) {
                            console.log($(this).parent().removeClass('active'));
                            console.log($($(this).attr('href')).removeClass('in active'));

                        } else {
                            $('[data-toggle^=pill]').parent().removeClass('active');
                            $('[class^=tab-pane]').removeClass('in active');

                            console.log($(this).parent().addClass('active'));
                            console.log($($(this).attr('href')).addClass('in active'));
                        }

                        e.stopPropagation();
                    });

                    $("#education").ready(function () {
                        $("#std_num").hide();
                        if (($("#education").val() == 'sharif student') | ($("#education").val() == 'sharif graduated') | ( $("#education").val() == 'sharif graduated talabe')) {
                            $("#std_num").show();
                        }


                    });
                    $("#education").change(function () {
                        if (($("#education").val() == 'sharif student') | ($("#education").val() == 'sharif graduated') | ( $("#education").val() == 'sharif graduated talabe')) {

                            $("#std_num").fadeIn("slow");
                        }
                        else {
                            $("#std_num").fadeOut("slow");
                        }

                    });


                    $("#passsport").ready(function () {
                        $("#gozar").hide();
                        $("#gozar2").hide();
                        $("#gozar3").hide();
                        if (($("#passsport").val() == 'have') | ( $("#passsport").val() == 'have 7')) {
                            $("#gozar").show();
                            $("#gozar2").show();
                            $("#gozar3").show();
                        }


                    });
                    $("#passsport").change(function () {
                        if (($("#passsport").val() == 'have') | ($("#passsport").val() == 'have 7')) {

                            $("#gozar").fadeIn("slow");
                            $("#gozar2").fadeIn("slow");
                            $("#gozar3").fadeIn("slow");
                        }
                        else {
                            $("#gozar").fadeOut("slow");
                            $("#gozar2").fadeOut("slow");
                            $("#gozar3").fadeOut("slow");
                        }


                    });


                    {#                    $('input:radio').change(function () {#}
                    {#                        console.log('testsets')#}
                    {#                    });#}


                    $('.controls').change(function () {
                        if ($('input[name=gender]:checked').val() == 'true' && $('input[name=coupling]:checked').val() == 'true') {
                            $("#conscription").fadeIn("slow");
                            $("#couple_melli").fadeIn("slow");
                            $("#couple_melli2").fadeIn("slow");
                            $("#couple_melli3").fadeIn("slow");
                            $("#couple_melli4").fadeIn("slow");
                        }
                        else if ($('input[name=gender]:checked').val()  == 'true' && $('input[name=coupling]:checked').val() == 'false') {
                            $("#conscription").fadeIn("slow");
                            $("#couple_melli").fadeOut("slow");
                            $("#couple_melli2").fadeOut("slow");
                            $("#couple_melli3").fadeOut("slow");
                            $("#couple_melli4").fadeOut("slow");
                        }
                        else if ($('input[name=gender]:checked').val() == 'false' && $('input[name=coupling]:checked').val() == 'true') {
                            $("#conscription").fadeOut("slow");
                            $("#couple_melli").fadeIn("slow");
                            $("#couple_melli2").fadeOut("slow");
                            $("#couple_melli3").fadeOut("slow");
                            $("#couple_melli4").fadeOut("slow");
                        }
                        else if ($('input[name=gender]:checked').val() == 'false' && $('input[name=coupling]:checked').val() == 'false') {
                            $("#conscription").fadeOut("slow");
                            $("#couple_melli").fadeOut("slow");
                            $("#couple_melli2").fadeOut("slow");
                            $("#couple_melli3").fadeOut("slow");
                            $("#couple_melli4").fadeOut("slow");
                        }
                    });


{#                    $('#birthdate').datepicker({#}
{#                        changeMonth: true,#}
{#                        changeYear: true#}
{#                    });#}
                }
        )


    </script>
{% endblock %}
{% block content %}
<div style="width: 100%">


    <div class="center-block" style="margin-left: 25%; margin-right: 25%; margin-bottom: 1px"><span
            class="label label-primary center-block"
            style="font-size: x-large; font-family:'B Titr'; line-height: 30px">پروفایل شخصی</span>
    </div>

    <div style="direction: rtl">


        <ul class="nav nav-pills" style="margin-left: 20%; margin-right: 15%; margin-bottom: 1px">
            <li style="text-align: right; font-family:'B Titr'; font-weight: bolder; width: 33%"><a data-toggle="pill"
                                                                                                    href="#menu3">اطلاعات
                همسر</a>
            </li>
            <li style="text-align: center; font-family:'B Titr'; font-weight: bolder; width: 33%"><a data-toggle="pill"
                                                                                                     href="#menu2">اطلاعات
                نظام
                وظیفه و گذر نامه </a>
            </li>

            <li id="li1" style="text-align: left; font-family:'B Titr'; font-weight: bolder; width: 33%"><a
                    data-toggle="pill"
                    href="#menu1">اطلاعات
                شخصی</a>
            </li>


        </ul>


        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="tab-content">

                <div id="menu1" class="tab-pane fade">
                    <div class="well" style="margin-right: 19%; margin-left: 19%">


                        <table class="table" id="table1">
                            <tr>
                                <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                    جنسیت:
                                </td>

                                <td>
                                    <div>
                                        مرد

                                        <input id="couple_type" checked="checked" name="gender" type="radio"
                                               value="true" class="controls">
                                        زن

                                        <input type="radio" value="false" name="gender" class="controls">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                    شماره شناسنامه:
                                </td>
                                <td>
                                    <input value="{{ profile.shenasname }}" type="text" name="she_number"
                                           class="form-control">
                                </td>


                            </tr>
                            <tr>
                                <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                    نام پدر:
                                </td>
                                <td>
                                    <input value="{{ user.my_profile.fatherName }}" type="text" name="father_name"
                                           class="form-control">

                                </td>


                            </tr>


                            <tr>
                                <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                    وضعیت تحصیل:
                                </td>
                                <td>
                                    <select id="education" name="education" class="form-control">
                                        {% for type,persian in user.my_profile.people_type_choices %}
                                            <option{% if user.my_profile.people_type == type %} selected="selected"{% endif %}
                                                                                    value="{{ type }}">{{ persian }}</option>
                                        {% endfor %}
                                    </select>

                                    </select>
                                </td>


                            </tr>
                            <tr id="std_num">
                                <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                    شماره دانشجویی:
                                </td>
                                <td>
                                    <input value="{{ user.my_profile.studentNumber }}" type="text" name="student_number"
                                           placeholder="********"
                                           class="form-control">
                                </td>


                            <tr>
                                <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                    سال تولد:
                                </td>
                                <td>
                                <p dir="ltr">13
                                    <input value="{{ user.my_profile.birthYear }}" type="text" name="birthyear"
                                                 style="width: 20%;display: inline-block" class="form-control" maxlength="2"></p>
                                </td>
                            <tr>
                                <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                  ماه تولد:
                                </td>
                                <td>
                                    <select name="birthmonth" class="form-control">
                                        {% for type in month %}
                                            <option  {% if user.my_profile.birthMonth == type %}
                                                selected="selected"{% endif %}value="{{ type }}">{{ month|get_tuple_item:type }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            <tr>
                                <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                    روز تولد:
                                </td>
                                <td>
                                    <select name="birthday" class="form-control">
                                        {% for type in days %}
                                            <option  {% if user.my_profile.birthDay == type %}
                                                selected="selected"{% endif %}value="{{ type }}">{{ type }}</option>
                                        {% endfor %}
                                    </select>
                                </td>


                            </tr>
                            <tr>
                                <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                    آدرس:

                                </td>
                                <td>
                                    <input value="{{ user.my_profile.address }}" type="text" name="adress" class="form-control">
                                </td>


                            </tr>
                            <div class="col-md-4 col-lg-3">
                                <div class="row">
                               <div class="col-md-5">





                </div>                </div> </div>

                                </td>


                            </tr>

                        </table>


                    </div>


                </div>
                <div id="menu2" class="tab-pane fade">
                    <div class="well" style="margin-right: 19%; margin-left: 19%">

                        <table class="table">

                            <div class="alert center-block alert-danger" id="alert"
                                 style="text-align: center; font-family: 'B Nazanin'"><b>پر کردن این فرم فقط برای اردوی
                                کربلا مورد نیاز است و در موارد دیگر نیازی به تکمیل آن نیست.</b></div>

                            <tr>
                            <tr id="conscription">
                                <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                    وضعیت نظام وظیفه:
                                </td>

                                <td>
                                    <select name="vazife-type" class="form-control">
                                        {% for type,persian in user.my_profile.conscription_choices %}
                                            <option{% if user.my_profile.conscription == type %} selected="selected"{% endif %}
                                                                                     value="{{ type }}">{{ persian }}</option>
                                        {% endfor %}
                                    </select>
                                </td>

                            </tr>
                            <tr>
                                <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                    وضعیت گذرنامه:
                                </td>

                                <td>
                                    <select id="passsport" name="pas_type" class="form-control">
                                        {% for type,persian in user.my_profile.passport_choices %}
                                            <option {% if user.my_profile.passport == type %}
                                                selected="selected"{% endif %}value="{{ type }}">{{ persian }}</option>
                                        {% endfor %}
                                    </select>


                                    </select>
                                </td>

                            </tr>


                            <tr id="gozar">
                                <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                    سریال پاسپورت:
                               </td>
                                <td>

                                    <input value="{{ user.my_profile.passport_serial }}" type="text" name="serial_pas"
                                           class="form-control" style="text-align: right; font-family:'B Nazanin'" placeholder="پرکردن فرم الزامی است">
                                </td>

                            </tr>
                            <tr id="gozar2">
                                <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                    تاریخ صدور گذرنامه:

                                </td>

                                <td>
                                    <input value="{{ user.my_profile.passport_release }}" id="sodour" type="text" name="pas_release"
                                           class="form-control"  style="text-align: right; font-family:'B Nazanin'" placeholder="پرکردن فرم الزامی است" >
                                </td>

                            </tr>
                            <tr id="gozar3">
                                <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                    تاریخ انقضای گذرنامه:
                                </td>

                                <td>
                                    <input value="{{ user.my_profile.passport_dateofexpiry.unique_for_month }}"+ id="engheza" type="text"
                                           name="pas_exprition" class="form-control" style="text-align: right; font-family:'B Nazanin'" placeholder="پرکردن فرم الزامی است">
                                </td>

                            </tr>
                            <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                                                    عکس پرسنلی:
                                    </td>
                                    <td>
                                        {% if user.my_profile.mugshot %}
                                            <img src="/accounts/{{user.username}}/{{user.my_profile.get_mugshot_url }} " style="width: 80px;height: 120px">
                                        {% endif %}
                                        <input type="file" name="mugshot">
                                    </td>

                        </table>


                    </div>
                </div>
                <div id="menu3" class="tab-pane fade">
                    <div class="well" style="margin-right: 20%; margin-left: 20%">

                        <table class="table">
                            <tr>
                                <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                    وضعیت تاهل:
                                </td>
                                <td>
                                    <div>
                                        متاهل

                                        <input id="couple_type" checked="checked" name="coupling" type="radio"
                                               value="true" class="controls">
                                        مجرد

                                        <input type="radio" value="false" name="coupling" class="controls">
                                    </div>
                                </td>
                            </tr>
                            <tr id="couple_melli">
                            <td
                                style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                شماره ملی همسر اول:
                            </td>
                            <td><input value="{{ user.my_profile.couple.melliCode }}" class="form-control" maxlength="10"
                                       name="wife_mellicode"></td>
                            </tr>
                            <tr id="couple_melli2">
                                <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                    شماره ملی همسر دوم:
                                </td>
                                <td><input value="{{ user.my_profile.couple_id }}" class="form-control" maxlength="10"
                                           name="wife_mellicode2"></td>
                            </tr>
                            <tr id="couple_melli3">
                                <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                    شماره ملی همسر سوم:
                                </td>
                                <td><input value="{{ user.my_profile.couple_id }}" class="form-control" maxlength="10"
                                           name="wife_mellicode3"></td>
                            </tr>
                            <tr id="couple_melli4">
                                <td style="text-align: right; font-family:'B Nazanin'; font-weight: bolder; line-height: 35px">
                                    شماره ملی همسر چهارم:
                                </td>
                                <td><input value="{{ user.my_profile.couple_id }}" class="form-control" maxlength="10"
                                           name="wife_mellicode4"></td>
                            </tr>

                            <tr>

                        </table>

                    </div>
                </div>
                <button class="btn btn-success btn-lg center-block" style="font-family: 'B Titr'">ذخیره اطلاعات</button>
            </div>


        </form>

    </div>

</div>
{% endblock %}