{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% block navbar %}
    {% include "_navbar.html" with active_link="changeemail" %}
{% endblock %}
{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>تغییر ایمیل</legend>
    {{ form.as_p }}
  </fieldset>
  <input type="submit" style="font-family: 'B Nazanin+'" value="اعمال کن" />
</form>
{% endblock %}
