{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% block navbar %}
    {% include "_navbar.html" with active_link="changepass" %}
{% endblock %}
{% block title %}{% trans "Change password" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo;
    {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
    <form action="" method="post" id="password_change_form">
        <fieldset>
            <legend>{% trans "تغییر پسوورد" %}</legend>
            {% csrf_token %}
            {{ form.as_p }}
        </fieldset>
        <input type="submit" value="{% trans "اعمال تغییرات" %}"/>
    </form>
{% endblock %}