{% extends 'base.html' %}
{% load tags %}
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">

{% block navbar %}
                {% include '_navbar.html' with active_link='management' %}
{% endblock %}

{% block second_navbar %}
{% include '_second_navbar.html' with active_link='documents' %}
{% endblock %}

{% block  content %}

{##}
{#    {% for item in registered %}#}
{#        {% if item.program.id in prog %}#}
{#            <a href="/program/{{ item.program.id }}"> {{ item.program.title }}</a>#}
{#        {% else %}#}
{#            {{ item.program.title }}#}
{#        {% endif %}#}
{##}
{##}
{#        <br>#}
{##}
{#    {% endfor %}#}

    {% for item in post %}

        <div class="well" style="text-align: right">
            <p>
                {{ item.profile.user.get_full_name }}
                در برنامه:
                {{ item.program.title }}
                ، بعنوان:
                {{ item.role_choices|get_tuple_item:item.role }}
                این نظر را داد
                <br>
                :
            </p>

            <p>{{ item.documentation }}</p>


        </div>
    {% endfor %}



{% endblock %}