{% extends 'base.html' %}
{% load tags %}
{% block title %}
برنامه های من
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#noteCheck").click(function () {
                if (this.checked) {
                    document.getElementById("mysubmit").disabled = false;
                } else {
                    document.getElementById("mysubmit").disabled = true;
                }
            });
        });
    </script>

    <script>
        $('form').submit(function () {
            $(this).find("button[type='submit']").prop('disabled', true);
        });
    </script>
{% endblock %}

{% block content %}
    <style>
        td, th {
            text-align: right;
        }
    </style>
    <div style="width: 100%" dir="rtl">
        <div class="well">
            <table class="table">
                <thead>
                <th>
                    نام برنامه
                </th>
                <th>
                    زمان
                </th>
                <th>
                    زمان ثبت نام
                </th>
                <th>
                  به صورت
                </th>
                <th>
                    اطلاعات مضاف
                </th>
                <th>
                    وضعیت
                </th>
                </thead>
                <tbody>
                {% for my in regs %}
                    <tr>
                        <td>
                            <a href="/program/registration/{{ my.pk }}">{{ my.program.title }}</a>
                        </td>
                        <td style="text-align: right">
                            {{ my.program.programInterval }}
                        </td>
                        <td style="text-align: right">
                            {{ my.program.registerInterval }}
                        </td>
                        <td style="text-align: right">
                            {% if my.coupling %}
                                متاهلی
                            {% else %}
                                مجردی
                            {% endif %}
                        </td>
                        <td>
                            {% if my.program.additionalOption %}
                                {% if my.additionalOption %}
                                    {{ my.program.additionalOption }}
                                {% else %}
                                    غیر
                                    {{ my.program.additionalOption }}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {{ my.status_choices|get_tuple_item:my.status }}
                        </td>
                    </tr>
                {% endfor %}
                {% if not user.my_profile.registered_on_last %}
                    <form method="post">
                        {% csrf_token %}
                        <td style="text-align: right">{{ last_program.title }}</td>
                        <td {% if not passportCheck %}style="color: red"
                            data-toggle="popover"
                            title="اعتبار گذرنامه"
                            data-content="پس از ثبت نام، در اسرع وقت برای صدور یا تمدید گذرنامه اقدام کنید"
                            {% endif %}>{{ last_program.programInterval }}</td>
                        <td style="text-align: right">{{ last_program.registerInterval }}</td>
                        <td>
                            {% if last_program.hasCoupling %}
                                {% if user.my_profile.coupling %}
                                    {% if fmypricing %}
                                        {% if last_program.type == last_program.TYPE_ARBAEEN %}
                                            {% if mycoupling.passport != None %}
                                                <input data-toggle="popover"
                                                       title="سفر متاهلی"
                                                       data-content="بزنی متاهلی ثبت نام میشی"
                                                       type="checkbox" name="hascoupling" class="checkbox">
                                            {% else %}
                                                <span data-toggle="popover"
                                                      title="اشکال پاسپورت همسر"
                                                      data-content="مادامی که اطلاعات پاسپورت همسر شما تکمیل نیست ، نمی توانید بصورت متاهلی در برنامه شرکت کنید"><font
                                                        color="red">همسر شما امکان ثبت نام ندارد</font></span>
                                            {% endif %}
                                        {% else %}
<span> متاهلی</span>
                                            <input style="display: inline-block" data-toggle="popover"
                                                   title="سفر به صورت متاهلی"
                                                   data-content="اگر موقع زدن دکمه ثبت نام این تیک علامت خورده باشد همسر شما نیز به همراه شما در برنامه ثبت نام میشود"
                                                   type="checkbox" name="hascoupling" class="checkbox">

                                        {% endif %}
                                    {% else %}
                                        <span data-toggle="popover"
                                              title="عدم امکان سفر متاهلی"
                                              data-content="شرکت در این برنامه به صورت متاهلی شامل حال شما نمیشود. شما و همسرتان میتوانید به صورت مجردی در این برنامه شرکت کنید"><font
                                                color="red">غیر فعال</font>
                                                </span>
                                    {% endif %}
                                {% elif not user.my_profile.coupling %}
                                    <span data-toggle="popover"
                                          title="عدم امکان ثبت نام متاهلی"
                                          data-content="شما مجردی لذا گزینه سفر متاهلی برای شما غیر فعال است"><font
                                            color="red">شما مجردی</font></span>

                                {% endif %}
                            {% else %}
                                <span data-toggle="popover" title="برنامه تنها بصورت مجردی"
                                      data-content="امکان شرکت در این برنامه به صورت متاهلی وجود ندارد"><font
                                        color="red">برنامه مجردیست</font></span>
                            {% endif %}
                        </td>
                        <td dir="rtl" style="text-align: right">
                            {% if last_program.additionalOption %}

                                {% if fmypricing %}
                                    {{ last_program.additionalOption }}
                                    <input type="checkbox" name="additonaltick" class="checkbox"
                                           style="display: inline-block"
                                           data-toggle="popover"
                                           title="ثبت نام به صورت {{ last_program.additionalOption }}"
                                           data-content="در صورت علامت زدن این گزینه هنگام زدن دکمه ثبت نام برای شما ثبت نام به صورت {{ last_program.additionalOption }} در نظر گرفته میشود ">

                                {% else %}
                                    <span data-toggle="popover"
                                          title="عدم امکان"
                                          data-content="شرکت در این برنامه با گزینه {{ last_program.additionalOption }} برای شما امکان پذیر نیست"><font
                                            color="red">غیر فعال برای شما</font></span>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td style="text-align: right">
                            {% if last_program.isOpen %}
                                {% if last_program.type == last_program.TYPE_ARBAEEN %}
                                    {% if user.my_profile.passport %}

                                        {% if type_pricing.price1 == None %}
                                            <span data-toggle="popover"
                                                  title="عدم امکان ثبت نام"
                                                  data-content="این برنامه برای شما تعریف نشده و امکان حضور شما در آن وجود ندارد"><font
                                                    color="red">ثبت نام برای شما غیر فعال است</font></span>
                                        {% else %}
                                            <span data-toggle="tooltip"
                                                  title="برای ثبت نام تدکرات را مطالعه کنید و تیک مربوط را بزنید">
                                                                        <input
                                                                                type="submit" class="btn btn-success"
                                                                                value="ثبت نام"
                                                                                id="mysubmit" disabled="true">
                                                                    </span>
                                        {% endif %}

                                    {% else %}
                                        <span data-toggle="tooltip"
                                              title="عدم تکمیل پروفایل"
                                              data-content="برای سفر خارجی ملزم به داشتن و ارائه پاسپورت هستید ابتدا اطلاعات پاسپورت خود را در قسمت پروفایل تکمیل کنید"><b><font
                                                color="red">
                                           ابتدا
                                            <a href="/profile/passport">
                                                پروفایل
                                            </a>
                                            خود را تکمیل نمایید
                                        </font></b></span>
                                    {% endif %}
                                {% else %}
                                    {% if type_pricing.price1 == None %}
                                        <span data-toggle="popover"
                                              title="عدم امکان ثبت نام"
                                              data-content="این برنامه برای شما تعریف نشده و امکان حضور شما در آن وجود ندارد"><font
                                                color="red">ثبت نام برای شما غیر فعال است</font></span>
                                    {% else %}
                                        <span data-toggle="tooltip"
                                              title="برای ثبت نام تدکرات را مطالعه کنید و تیک مربوط را بزنید">
                                                                    <input
                                                                            type="submit" class="btn btn-success"
                                                                            value="ثبت نام"
                                                                            id="mysubmit" disabled="true">
                                                </span>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <p data-toggle="popover" title="برنامه بسته است"
                                   data-content="در حال حاظر برنامه بسته است و امکان ثبت نام وجود ندارد">
                                    ثبت نام غیر فعال
                                </p>
                            {% endif %}
                        </td>
                    </form>
                {% endif %}
                </tbody>
            </table>
        </div>

        {#    <-----Users see the last public programs details here----->    #}
        <div class="row">
            <div class="col-md-6">
                <div class="well" dir="rtl">
                    <h3><b> جدول هزینه های {{ last_program.title }} </b></h3>
                    <hr>
                    <table class="table" dir="rtl">
                        <thead>
                        <tr>
                            <td><b>سری شرکت کننده</b></td>
                            <td><b>قسط1</b></td>
                            <td><b>قسط2</b></td>
                            <td><b>قسط3</b></td>
                        </tr>
                        </thead>
                        <tbody>

                        {% for m in lastpricing %}
                            {% if m.price1 == None %}
                            {% else %}
                                <tr>
                                    <td><b>

                                        {{ user.my_profile.people_type_choices|get_tuple_item:m.people_type }}
                                        {% if m.coupling %}
                                            متاهلی
                                            {% if m.additionalOption %}
                                                {{ m.program.additionalOption }}
                                            {% else %}
                                            {% endif %}
                                        {% else %}
                                            مجردی
                                            {% if m.additionalOption %}
                                                {{ m.program.additionalOption }}
                                            {% else %}
                                            {% endif %}
                                        {% endif %}
                                    </b></td>
                                    <td>{{ m.price1 }}</td>
                                    <td>
                                        {% if m.price2 == None %}
                                        {% else %}
                                            {{ m.price2 }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if m.price3 == None %}
                                        {% else %}
                                            {{ m.price3 }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-6">
                <div class="well" dir="rtl">
                    <h3><b style="font-family: 'B Nazanin+'"> تذکرات {{ last_program.title }} </b></h3>

                    <div>{{ last_program.notes|safe }}</div>
                    <p style="font-family: 'B Nazanin+'">تذکرات را خوانده ام و مطمئنم که میخواهم در این برنامه ثبت نام
                        کنم.
                        <input data-toggle="popover" title="تذکر بسیار مهم"
                               data-content="زدن این تیک به منزله این است که تذکرات را به طور کامل مطالعه کرده اید. در صورت مطالعه نکردن تذکرات زدن این تیک مصداق دروغ و شرعا حرام اسست!!"
                               type="checkbox" id="noteCheck">
                    </p>


                </div>
            </div>
        </div>
{% endblock %}