{% extends 'base.html' %}
{% load tags %}
{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#noteCheck").click(function () {
                if (this.checked) {
                    document.getElementById("mysubmit").disabled = false;
                } else {
                    document.getElementById("mysubmit").disabled = true;
                }
            });
        });
    </script>

    <script>
        $('form').submit(function () {
            $(this).find("button[type='submit']").prop('disabled', true);
        });
    </script>

    <div style="width: 100%">

        {#    <-----Users can see their past registration in programs here----->    #}
        <div class="well">
            <table class="table">
                {% if registered %}
                    <thead>
                    <tr>
                        <th style="text-align: right">
                            نام برنامه
                        </th>
                        <th style="text-align: right">
                            زمان
                        </th>
                        <th style="text-align: right">
                            زمان ثبت نام
                        </th>
                        <th style="text-align: right">
                            سفر به صورت متاهلی
                        </th>
                        <th style="text-align: right">
                            وضعیت
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for my in programregistered %}
                        {% if my.status == 'removed' %}
                        {% else %}
                            <tr>
                                <td style="text-align: right">
                                    <a href="/program/myform/{{ my.pk }}">{{ my.program.title }}</a>
                                </td>
                                <td style="text-align: right">
                                    {{ my.program.programInterval }}
                                </td>
                                <td style="text-align: right">
                                    {{ my.program.registerInterval }}
                                </td>
                                <td style="text-align: right">
                                    {% if my.coupling %}
                                        متاهلی
                                    {% else %}
                                        مجردی
                                    {% endif %}
                                </td>
                                <td style="text-align: right">
                                    {{ allStatus|get_tuple_item:my.status }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                {% else %}
                    {% if additionalboolean %}
                        <thead>
                        <tr>
                            <th style="text-align: right">
                                نام برنامه
                            </th>
                            <th style="text-align: right">
                                زمان
                            </th>
                            <th style="text-align: right">
                                زمان ثبت نام
                            </th>
                            <th style="text-align: right">
                                ثبت نام به صورت متاهلی
                            </th>
                            <th style="text-align: right">
                                {{ additional }}
                            </th>
                            <th style="text-align: right">
                                وضعیت
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for my in programregistered %}
                            {% if my.status == 'removed' %}
                            {% else %}
                                <tr>
                                    <td style="text-align: right">
                                        <a href="/program/myform/{{ my.pk }}">{{ my.program.title }}</a>
                                    </td>
                                    <td style="text-align: right">
                                        {{ my.program.programInterval }}
                                    </td>
                                    <td style="text-align: right">
                                        {{ my.program.registerInterval }}
                                    </td>
                                    <td style="text-align: right">
                                        {% if my.coupling %}
                                            متاهلی
                                        {% else %}
                                            مجردی
                                        {% endif %}
                                    </td>
                                    <td></td>
                                    <td style="text-align: right">
                                        {{ allStatus|get_tuple_item:my.status }}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <form method="post">
                                {% csrf_token %}
                                <td style="text-align: right">{{ lastprogram.title }}</td>
                                <td style="text-align: right">{{ lastprogram.programInterval }}</td>
                                <td style="text-align: right">{{ lastprogram.registerInterval }}</td>
                                {#                            OOOOOOOOOOOOOkkkkkkkkkk#}
                                <td dir="rtl" style="text-align: right">
                                    {% if lastprogram.hasCoupling %}
                                        {% if profile.coupling %}
                                            {% if fmypricing %}
                                            {% if lastprogram.type == 'arbaeen' %}
                                                {% if mycoupling.passport != None %}
                                                    <input data-toggle="popover"
                                                           title="سفر متاهلی"
                                                           data-content="بزنی متاهلی ثبت نام میشی"
                                                           type="checkbox" name="hascoupling" class="checkbox">
                                                {% else %}
                                                    <span data-toggle="popover"
                                                          title="اشکال پاسپورت همسر"
                                                          data-content="مادامی که اطلاعات پاسپورت همسر شما تکمیل نیست ، نمی توانید بصورت متاهلی در برنامه شرکت کنید"><font
                                                            color="red">همسر شما امکان ثبت نام ندارد</font></span>
                                                {% endif %}
                                            {% else %}
                                                <input data-toggle="popover"
                                                       title="سفر به صورت متاهلی"
                                                       data-content="اگر موقع زدن دکمه ثبت نام این تیک علامت خورده باشد همسر شما نیز به همراه شما در برنامه ثبت نام میشود"
                                                       type="checkbox" name="hascoupling" class="checkbox">
                                            {% endif %}
                                            {% else %}
                                                <span data-toggle="popover"
                                                title="عدم امکان سفر متاهلی"
                                                data-content="شرکت در این برنامه به صورت متاهلی شامل حال شما نمیشود. شما و همسرتان میتوانید به صورت مجردی در این برنامه شرکت کنید"><font color="red">غیر فعال</font>
                                                </span>
                                            {% endif %}
                                        {% elif profile.coupling == None %}
                                            <span data-toggle="popover"
                                                  title="عدم امکان ثبت نام متاهلی"
                                                  data-content="شما مجردی لذا گزینه سفر متاهلی برای شما غیر فعال است"><font
                                                    color="red">شما مجردی</font></span>
                                        {% else %}

                                        {% endif %}
                                    {% else %}
                                        <span data-toggle="popover" title="برنامه تنها بصورت مجردی"
                                              data-content="امکان شرکت در این برنامه به صورت متاهلی وجود ندارد"><font
                                                color="red">برنامه مجردیست</font></span>
                                    {% endif %}
                                </td>
                                <td dir="rtl" style="text-align: right">
                                    {% if boolmypricing %}
                                        <input type="checkbox" name="additonaltick" class="checkbox"
                                               data-toggle="popover"
                                               title="ثبت نام به صورت {{ additional }}"
                                               data-content="در صورت علامت زدن این گزینه هنگام زدن دکمه ثبت نام برای شما ثبت نام به صورت {{ additional }} در نظر گرفته میشود ">
                                    {% else %}
                                        <span data-toggle="popover"
                                              title="عدم امکان"
                                              data-content="شرکت در این برنامه با گزینه {{ additional }} برای شما امکان پذیر نیست"><font
                                                color="red">غیر فعال برای شما</font></span>
                                    {% endif %}
                                </td>
                                <td style="text-align: right">
                                    {% if lastprogram.isOpen %}
                                        {% if lastprogram.type == 'arbaeen' %}
                                            {% if profile.passport != None %}

                                                {% if type_pricing.price1 == None %}
                                                    <span data-toggle="popover"
                                                          title="عدم امکان ثبت نام"
                                                          data-content="این برنامه برای شما تعریف نشده و امکان حضور شما در آن وجود ندارد"><font
                                                            color="red">ثبت نام برای شما غیر فعال است</font></span>
                                                {% else %}
                                                    <span data-toggle="tooltip"
                                                          title="برای ثبت نام تدکرات را مطالعه کنید و تیک مربوط را بزنید">
                                                                        <input
                                                                                type="submit" class="btn btn-success"
                                                                                value="ثبت نام"
                                                                                id="mysubmit" disabled="true">
                                                                    </span>
                                                {% endif %}

                                            {% else %}
                                                <span data-toggle="tooltip"
                                                      title="برای سفر خارجی ملزم به داشتن و ارائه پاسپورت هستید ابتدا اطلاعات پاسپورت خود را در قسمت پروفایل تکمیل کنید"><b><font
                                                        color="red">عدم امکان ثبت نام</font></b></span>
                                            {% endif %}
                                        {% else %}
                                            {% if type_pricing.price1 == None %}
                                                <span data-toggle="popover"
                                                      title="عدم امکان ثبت نام"
                                                      data-content="این برنامه برای شما تعریف نشده و امکان حضور شما در آن وجود ندارد"><font
                                                        color="red">ثبت نام برای شما غیر فعال است</font></span>
                                            {% else %}
                                                <span data-toggle="tooltip"
                                                      title="برای ثبت نام تدکرات را مطالعه کنید و تیک مربوط را بزنید">
                                                                    <input
                                                                            type="submit" class="btn btn-success"
                                                                            value="ثبت نام"
                                                                            id="mysubmit" disabled="true">
                                                </span>
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        <p data-toggle="popover" title="برنامه بسته است"
                                           data-content="در حال حاظر برنامه بسته است و امکان ثبت نام وجود ندارد">
                                            ثبت نام غیر فعال
                                        </p>
                                    {% endif %}
                                </td>
                            </form>
                        </tr>
                        </tbody>
                    {% else %}
                        <thead>
                        <tr>
                            <th style="text-align: right">
                                نام برنامه
                            </th>
                            <th style="text-align: right">
                                زمان
                            </th>
                            <th style="text-align: right">
                                زمان ثبت نام
                            </th>
                            <th style="text-align: right">
                                سفر به صورت متاهلی
                            </th>
                            <th style="text-align: right">
                                وضعیت
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for my in programregistered %}
                            {% if my.status == 'removed' %}
                            {% else %}
                                <tr>
                                    <td style="text-align: right">
                                        <a href="/program/myform/{{ my.pk }}">{{ my.program.title }}</a>
                                    </td>
                                    <td style="text-align: right">
                                        {{ my.program.programInterval }}
                                    </td>
                                    <td style="text-align: right">
                                        {{ my.program.registerInterval }}
                                    </td>
                                    <td style="text-align: right">
                                        {% if my.coupling %}
                                            متاهلی
                                        {% else %}
                                            مجردی
                                        {% endif %}
                                    </td>
                                    <td style="text-align: right">
                                        {{ allStatus|get_tuple_item:my.status }}
                                    </td>
                                </tr>
                            {% endif %}

                        {% endfor %}
                        <tr>
                            <form method="post">
                                {% csrf_token %}
                                <td style="text-align: right">{{ lastprogram.title }}</td>
                                <td style="text-align: right">{{ lastprogram.programInterval }}</td>
                                <td style="text-align: right">{{ lastprogram.registerInterval }}</td>
                                {#                                OKEY ok ooookkk#}
                                <td style="text-align: right">
                                    {% if lastprogram.hasCoupling %}
                                        {% if profile.coupling %}
                                            {% if fmypricing %}
                                                {% if lastprogram.type == 'arbaeen' %}
                                                    {% if mycoupling.passport != None %}
                                                        <input type="checkbox" name="hascoupling" class="checkbox"
                                                               data-toggle="popover" title="سفر به صورت متاهلی"
                                                               data-content="اگر موقع زدن دکمه ثبت نام این تیک علامت خورده باشد همسر شما نیز به همراه شما در برنامه ثبت نام میشود">
                                                    {% else %}
                                                        <span data-toggle="popover"
                                                              title="تکمیل نبودن اطلاعات همسر"
                                                              data-content="مادامی که اطلاعات پاسپورت همسر شما تکمیل نیست ، نمی توانید بصورت متاهلی در برنامه شرکت کنید"><font
                                                                color="red">همسر شما امکان ثبت نام ندارد</font></span>
                                                    {% endif %}
                                                {% else %}
                                                    <input type="checkbox" name="hascoupling" class="checkbox"
                                                           data-toggle="popover" title="سفر به صورت متاهلی"
                                                           data-content="اگر موقع زدن دکمه ثبت نام این تیک علامت خورده باشد همسر شما نیز به همراه شما در برنامه ثبت نام میشود">
                                                {% endif %}
                                            {% else %}
                                                <span data-toggle="popover"
                                                title="عدم امکان"
                                                data-content="شرکت به صورت متاهلی در این برنامه شامل حال شما نمیشود. شما و همسرتان میتوانید به صورت مجردی در این برنامه شرکت کنید "
                                                ><font color="red">غیر فعال</font></span>
                                            {% endif %}
                                        {% elif profile.coupling == None %}
                                            <span data-toggle="popover"
                                                  title="عدم امکان"
                                                  data-content="شما مجردی فلذا گزینه سفر متاهلی برای شما غیر فعال است"><font
                                                    color="red">شما مجردی</font></span>
                                        {% else %}
                                        {% endif %}
                                    {% else %}
                                        <span data-toggle="popover" title="برنامه مجردیست"
                                              data-content="امکان شرکت در این برنامه به صورت متاهلی وجود ندارد"><font
                                                color="red">برنامه مجردیست</font></span>
                                    {% endif %}
                                </td>
                                {#            OOOOOOOkkkkkkk#}
                                <td style="text-align: right">
                                    {% if lastprogram.isOpen %}
                                        {% if lastprogram.type == 'arbaeen' %}
                                            {% if profile.passport != None %}

                                                {% if type_pricing.price1 == None %}
                                                    <span data-toggle="popover"
                                                          title="عدم امکان ثبت نام"
                                                          data-content="چون این برنامه برای شما تعریف نشده، ثبت نام تنها برای رده های تعریف شده امکان پذیر است"><font
                                                            color="red">ثبت نام غیر فعال</font></span>
                                                {% else %}
                                                    <span data-toggle="tooltip"
                                                          title="برای ثبت نام تدکرات را مطالعه کنید و تیک مربوط را بزنید">
                                                            <input
                                                                    type="submit" class="btn btn-success"
                                                                    value="ثبت نام"
                                                                    id="mysubmit" disabled="true">
                                                        </span>
                                                {% endif %}

                                            {% else %}
                                                <span data-toggle="popoveer"
                                                      title="خطای اطلاعات پاسپورت"
                                                      data-content="برای سفر خارجی ملزم به داشتن و ارائه پاسپورت هستید ابتدا اطلاعات پاسپورت خود را در قسمت پروفایل تکمیل کنید"><b><font
                                                        color="red">عدم امکان ثبت نام</font></b></span>
                                            {% endif %}
                                        {% else %}
                                            {% if type_pricing.price1 == None %}
                                                <span data-toggle="popover"
                                                      title="عدم امکان ثبت نام"
                                                      data-content="چون این برنامه برای شما تعریف نشده، ثبت نام تنها برای رده های تعریف شده امکان پذیر است"><font
                                                        color="red">ثبت نام غیر فعال</font></span>
                                            {% else %}
                                                <span data-toggle="tooltip"
                                                      title="برای ثبت نام تدکرات را مطالعه کنید و تیک مربوط را بزنید">
                                                                    <input
                                                                            type="submit" class="btn btn-success"
                                                                            value="ثبت نام"
                                                                            id="mysubmit" disabled="true">
                                                                </span>
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        <p data-toggle="popover" title="برنامه بسته است"
                                           data-content="در حال حاظر برنامه بسته است و امکان ثبت نام وجود ندارد">
                                            ثبت نام غیر فعال
                                        </p>
                                    {% endif %}
                                </td>
                            </form>
                        </tr>
                        </tbody>
                    {% endif %}
                {% endif %}
            </table>
            {% if error %}
            <div dir="rtl">
                <span dir="rtl" style="text-align: right" class="label label-warning">
شما نمیتوانید ثبت نام کنید
                </span>
            </div>
            {% endif %}
        </div>


        {#    <-----Users see the last public programs details here----->    #}
        <div class="row">
            <div class="col-md-6">
                <div class="well" dir="rtl">
                    <h3><b> جدول هزینه های {{ lastprogram.title }} </b></h3>
                    <hr>
                    <table class="table" dir="rtl">
                        <thead>
                        <tr>
                            <td><b>سری شرکت کننده</b></td>
                            <td><b>قسط1</b></td>
                            <td><b>قسط2</b></td>
                            <td><b>قسط3</b></td>
                        </tr>
                        </thead>
                        <tbody>

                        {% for m in lastpricing %}
                            {% if m.price1 == None %}
                            {% else %}
                                <tr>
                                    <td><b>

                                        {{ peopletype|get_tuple_item:m.people_type }}
                                        {% if m.Coupling %}
                                            متاهلی
                                            {% if m.additionalObject %}
                                                {{ m.program.additionalObject }}
                                            {% else %}
                                            {% endif %}
                                        {% else %}
                                            مجردی
                                            {% if m.additionalObject %}
                                                {{ m.program.additionalObject }}
                                            {% else %}
                                            {% endif %}
                                        {% endif %}
                                    </b></td>
                                    <td>{{ m.price1 }}</td>
                                    <td>
                                        {% if m.price2 == None %}
                                        {% else %}
                                            {{ m.price2 }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if m.price3 == None %}
                                        {% else %}
                                            {{ m.price3 }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-6">
                <div class="well" dir="rtl">
                    <h3><b style="font-family: 'B Nazanin+'"> تذکرات {{ lastprogram.title }} </b></h3>
                    <div>{{ lastprogram.notes|safe }}</div>
                    <p style="font-family: 'B Nazanin+'">تذکرات را خوانده ام و مطمئنم که میخواهم در این برنامه ثبت نام کنم.</p>
                    <p style="font-family: 'B Nazanin+';color: red">{{ comment }}.</p>

                    <input data-toggle="popover" title="تذکر بسیار مهم"
                           data-content="زدن این تیک به منزله این است که تذکرات را به طور کامل مطالعه کرده اید. در صورت مطالعه نکردن تذکرات زدن این تیک مصداق دروغ و شرعا حرام اسست!!"
                           type="checkbox" id="noteCheck" >
                </div>
            </div>
        </div>
    </div>
{% endblock %}