{% extends 'base.html' %}
{% load tags %}
{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#noteCheck").click(function (event) {
                if (this.checked) {
                    document.getElementById("mysubmit").disabled = false;

                } else {
                    document.getElementById("mysubmit").disabled = true;
                }
            });
        });
    </script>
    <div style="width: 100%">

        {#    <-----Users can see their past registration in programs here----->    #}

        <div class="well">
            {% if programregisteredbool %}
                <table class="table">
                <thead>
                        <tr>
                            <th>
                                نام برنامه
                            </th>
                            <th>
                                زمان
                            </th>
                            <th>
                                زمان ثبت نام
                            </th>
                            <th>
                                سفر به صورت متاهلی
                            </th>
                            <th>
                                وضعیت
                            </th>
                        </tr>
                        </thead>
                <tbody>
                        {% for my in programregistered %}
                            {% if my.status == 'removed' %}
                            {% else %}
                                <tr>
                                    <td>
                                        <a href="/program/myform/{{ my.pk }}">{{ my.program.title }}</a>
                                    </td>
                                    <td>
                                        {{ my.program.programInterval }}
                                    </td>
                                    <td>
                                        {{ my.program.registerInterval }}
                                    </td>
                                    <td>
                                        {% if my.coupling %}
                                            متاهلی
                                        {% else %}
                                            مجردی
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ allStatus|get_tuple_item:my.status }}
                                    </td>
                                </tr>
                            {% endif %}

                        {% endfor %}
                </tbody>
                </table>
            {% else %}
                <table class="table">
                    <thead>
                        <tr>
                            <td style="text-align: center"><h3>وضعیت</h3></td>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="text-align: center"><h4>شما تا کنون در هیچ برنامه ای شرکت نکرده اید</h4></td>
                    </tr>
                    <tr>
                        <td style="text-align: center"><h4>هم اکنون برنامه ای برای ثبت نام وجود ندارد</h4></td>
                    </tr>
                </tbody>
                </table>

            {% endif %}


        </div>
    </div>
{% endblock %}