{% extends 'base.html' %}
{% load tags %}

{% block navbar %}
    {% include '_navbar.html' with active_link='ref_detail' %}
{% endblock %}
{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#pay").click(function () {
                document.getElementById("#pay").disabled = true;
            });
        });
    </script>


    <div class="row" style="width: 100%">
        <div class="col-md-6">


            <div class="well" dir="rtl">
                <table class="table" dir="rtl">
                    <thead>
                    <tr>
                        <td><h3 data-toggle="popover" title="ثبت نام من"
                                data-content="اطلاعات فرم ثبت نام و پرداخت  قسط های مربوط و انصراف از برنامه">ثبت نام
                            من</h3></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>نوع سفر</td>
                        <td> {{ myregister.profile.people_type_choices|get_tuple_item:myregister.profile.people_type }} </td>
                    </tr>
                    <tr>
                        <td>به صورت</td>
                        <td>{% if myregister.coupling %}
                            متاهلی
                        {% else %}
                            مجردی
                        {% endif %}
                        </td>
                    </tr>
                    {% if myregister.program.additionalOption %}
                        <tr>
                            <td>اطلاعات مضاف</td>
                            <td>{% if myregister.additionalOption %}
                                {{ myregister.program.additionalOption }}
                            {% else %}
                                غیر
                                {{ myregister.program.additionalOption }}
                            {% endif %}
                            </td>
                        </tr>
                    {% endif %}

                    <tr>
                        <td><h4><b>وضعیت</b></h4></td>
                        <td><h4><b> {{ myregister.status_choices|get_tuple_item:myregister.status }} </b></h4></td>
                    </tr>
                    {% if myregister.status == myregister.STATUS_CERTAIN %}
                        <tr>
                            <td>وضعیت پرداخت</td>
                            {% if myregister.numberOfPayments == myregister.get_num_of_installments %}
                                <td>
                                    پرداخت کامل
                                </td>
                            {% else %}

                                <td>
                                    {% if myregister.numberOfPayments == 0 %}
                                        بدون پرداخت
                                    {% elif myregister.numberOfPayments == 1 %}
                                        یک پرداخت موفق
                                    {% elif myregister.numberOfPayments == 2 %}
                                        دو پرداخت موفق
                                    {% endif %}

                                </td>
                                </tr>
                                <tr>
                                    <td>مبلغ قابل پرداخت</td>
                                    <td>
                                        {% if myregister.numberOfPayments == 0 %}
                                            {{ myregister.get_pricing.price1 }}
                                        {% elif myregister.numberOfPayments == 1 %}
                                            {{ myregister.get_pricing.price2 }}
                                        {% elif myregister.numberOfPayments == 2 %}
                                            {{ myregister.get_pricing.price3 }}
                                        {% endif %}
                                        تومان
                                    </td>

                                </tr>
                                <tr>
                                <td>
                                    <a id="pay"
                                       href="/pay/start/{{ myregister.id }}/"
                                       class="btn btn-success"
                                       data-toggle="popover"
                                       title=""
                                       data-content="">
                                        پرداخت</a>
                                </td>
                                <td></td>


                            {% endif %}
                            </tr>

                    {% endif %}
                    <tr>
                        {% if myregister.status == myregister.STATUS_CAME or myregister.status == myregister.STATUS_GIVEN_UP or myregister.status == myregister.STATUS_REMOVED %}
                        {% else %}
                            <td>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="submit"
                                           class="btn btn-danger"
                                           value="اعلام انصراف"
                                           name="givenup_btn"
                                           data-toggle="popover"
                                           title="انصراف از برنامه"
                                           data-content="در صورت زدن دکمه انصراف از برنامه دیگر قادر به ثبت نام در این برنامه نخواهید بود. اگر به صورت متاهلی ثبت نام کرده باشید تغییرات برای همسر شما نیز اعمال خواهد شد">
                                    </input>
                                </form>
                            </td>
                            <td></td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            </div>



            {% if payment %}
                <div class="well" dir="rtl">
                    <table class="table" dir="rtl">
                        <thead>
                        <tr>
                            <th style="text-align: right;">ساعت</th>
                            <th style="text-align: right;">تاریخ</th>
                            <th style="text-align: right">مقدار پرداخت</th>
                            <th style="text-align: right">کد مرجع</th>
                            <th style="text-align: right">شماره ارجاع</th>
                            <th style="text-align: right">موفقیت</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for mypay in date_list %}
                            <tr>
                                <td>{{ mypay.taking_time }}</td>
                                <td>{{ mypay.taking_date }}</td>
                                <td><b>{{ mypay.amount }}</td>
                                <td style="font-size: 10px">
                                    {% if mypay.refId == None %}
                                        ---
                                    {% else %}
                                        {{ mypay.refId }}
                                    {% endif %}
                                </td>
                                <td style="font-size: 10px">
                                    {% if mypay.saleRefId == None %}
                                        ---
                                    {% else %}
                                        {{ mypay.saleRefId }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if mypay.success %}
                                        موفقیت آمیز
                                    {% else %}
                                        ناموفق
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
            {% endif %}


            {#        <-----Messaging Inbox for registration object----->#}
            <div class="well" dir="rtl">
                <table class="table" dir="rtl">
                    <thead>
                    <tr>
                        <td><h3><b>جعبه پیامها</b></h3></td>
                        <td><h3><b>{{ massageinbox|length }}</b></h3></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for massage in massageinbox %}
                        <tr>
                            <table class="table" dir="rtl">
                                <thead>
                                <tr>
                                    <h3>{{ massage.message.subject }}</h3>
                                    <p>{{massage.message.messageSendDate|get_time}}</p>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><p>{{ massage.message.content }}</p></td>
                                </tr>
                                </tbody>
                            </table>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">

            <div class="well">
                <table class="table" dir="rtl">
                    <thead>
                    <tr>
                        <td><h3><b>{{ myregister.program.title }}</b></h3></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>زمان برنامه</td>
                        <td>{{ myregister.program.programInterval }}</td>
                    </tr>
                    <tr>
                        <td>زمان ثبت نام</td>
                        <td>{{ myregister.program.registerInterval }}</td>
                    </tr>
                    <tr>
                        <td>امکان ثبت نام متاهلی</td>
                        <td>
                            {% if myregister.program.hasCoupling %}
                                دارد
                            {% else %}
                                ندارد
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>باز برای ثبت نام</td>
                        <td>
                            {% if myregister.program.isOpen %}
                                دارد
                            {% else %}
                                ندارد
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>ایمیل</td>
                        <td>{{ myregister.program.email }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="well" dir="rtl">
                <h3><b> تذکرات {{ myregister.program.title }} </b></h3>

                <P>{{ myregister.program.notes|safe }}</P>

            </div>

            <div class="well" dir="rtl">
                <h3><b> جدول هزینه های {{ myregister.program.title }} </b></h3>
                <hr>
                <table class="table" dir="rtl">
                    <thead>
                    <tr>
                        <td><b>سری شرکت کننده</b></td>
                        <td><b>قسط1</b></td>
                        <td><b>قسط2</b></td>
                        <td><b>قسط3</b></td>
                    </tr>
                    </thead>
                    <tbody>

                    {% for m in pricings %}
                        {% if m.price1 == None %}
                        {% else %}
                            <tr>
                                <td><b>

                                    {{ myregister.profile.people_type_choices|get_tuple_item:m.people_type }}
                                    {% if m.Coupling %}
                                        متاهلی
                                    {% else %}
                                        مجردی
                                    {% endif %}
                                </b></td>
                                <td>{{ m.price1 }}</td>
                                <td>
                                    {% if m.price2 == None %}
                                    {% else %}
                                        {{ m.price2 }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if m.price3 == None %}
                                    {% else %}
                                        {{ m.price3 }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                    </tbody>
                </table>
            </div>

            <div dir="rtl">
                <form method="post">
                    {% csrf_token %}
                    <h3><b>انقادات و پیشنهادات</b></h3>
                   <textarea style="width: 100%" name="feedback" class="mceNoEditor">{{ myregister.feedBack }}</textarea>
                    <br>
                    <input type="submit" class="btn btn-warning center-block" name="feedback_btn" value="ثبت">

                    <br><br><br>
                </form>
            </div>

        </div>

    </div>

{% endblock %}
