{% load i18n %}{% autoescape off %}
<html>
<body>
    {% if not without_usernames %}<p>{% blocktrans with user.username as username %}عزیز {{ username }},</p>{% endblocktrans %}{% endif %}
    {% blocktrans with site.name as site %}<p>با تشکر از ثبت نام شما{{ site }}.</p>{% endblocktrans %}
    <p>
        {% trans "برای فعال سازی حساب کاربری خود بر روی لینک زیر کلیک نمایید:" %}<br />
        {{ protocol }}://{{ site.domain }}{% url 'userena_activate' activation_key %}
    </p>
    <p>
        {% trans "باتشکر از شما!" %}<br />
        {% trans "با آرزوی موفقیت" %},<br />
        {{ site.name }}
    </p>
</body>
</html>
{% endautoescape %}
